<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include('partials/head'); %>
</head>

<body>
    <%- include('partials/header'); %>

    <main class="main">
        <div class="slideshow-container">
            <div class="slides-container">
                <div class="slide">
                    <img src="/images/slide-1.jpg" alt="gadgets">
                    <a href="/products" class="slide-link">View all products</a>
                </div>
                <div class="slide">
                    <img src="/images/slide-2.jpg" alt="smartphones">
                    <a href="/products" class="slide-link">View all products</a>
                </div>
                <div class="slide">
                    <img src="/images/slide-3.jpg" alt="tablet">
                    <a href="/products" class="slide-link">View all products</a>
                </div>
                <div class="slide">
                    <img src="/images/slide-4.jpg" alt="smartphones">
                    <a href="/products" class="slide-link">View all products</a>
                </div>
                <span class="slide-prev">&#10094;</span>
                <span class="slide-next">&#10095;</span>
            </div>
            <div class="slide-indicators-container">
                <div class="slide-indicator" data-slide-to="1"></div>
                <div class="slide-indicator" data-slide-to="2"></div>
                <div class="slide-indicator" data-slide-to="3"></div>
                <div class="slide-indicator" data-slide-to="4"></div>
            </div>
        </div>

        <section class="features">
            <div class="flex-row">
                <div class="flex-col-4 feature">
                    <div class="feature-block">
                        <i class="fas fa-shipping-fast"></i>
                        <h5>Free shipping</h5>
                        <p>Free worldwide shipping</p>
                    </div>
                </div>
                <div class="flex-col-4 feature">
                    <div class="feature-block">
                        <i class="far fa-clock"></i>
                        <h5>Fast delivery</h5>
                        <p>Fast worldwide delivery</p>
                    </div>
                </div>
                <div class="flex-col-4 feature">
                    <div class="feature-block">
                        <i class="far fa-money-bill-alt"></i>
                        <h5>Money back</h5>
                        <p>30 Days money back</p>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <%- include('partials/footer'); %>

    <script>
        (function () {
            let slideIndex = 1;
            showSlides(slideIndex);

            function setSlideHeight() {
                const slideHeight = Math.floor(document.body.clientWidth * 800 / 1920);
                document.getElementsByClassName("slides-container")[0].style.height = slideHeight + "px";
            }

            setSlideHeight();

            window.addEventListener("resize", function() {
                setSlideHeight();
            });

            // setInterval(function () {
            //     showSlides(slideIndex += 1);
            // }, 5000);

            document.getElementsByClassName("slideshow-container")[0].addEventListener("click", function (event) {
                const target = event.target;

                if (target.classList.contains("slide-prev")) {
                    event.preventDefault();
                    showSlides(slideIndex += -1);
                } else if (target.classList.contains("slide-next")) {
                    event.preventDefault();
                    showSlides(slideIndex += 1);
                } else if (target.classList.contains("slide-indicator")) {
                    slideIndex = Number(target.getAttribute("data-slide-to"));
                    showSlides(slideIndex);
                }
            });

            function showSlides(n) {
                const slides = document.getElementsByClassName("slide");
                const slideBtn = document.getElementsByClassName("slide-indicator");

                if (n > slides.length) {
                    slideIndex = 1;
                }
                if (n < 1) {
                    slideIndex = slides.length;
                }

                for (let i = 0; i < slides.length; i++) {
                    slideBtn[i].classList.remove("active");
                    slides[i].classList.remove("active");
                }

                slides[slideIndex - 1].classList.add("active");
                slideBtn[slideIndex - 1].classList.add("active");
            }
        })();
    </script>

</body>

</html>