<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Checkout</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include partials/head %>
</head>

<body>
    <% include partials/header %>
    
    <main class="main">
        <p>Your order id: <%= orderId %></p>
    </main>
    <% if (clearLocalStorage) { %>
        <script>
            localStorage.removeItem("cart");
        </script>
    <% } %>

    <% include partials/footer %>
</body>

</html>