$color1: #fff;
$color2: #000;
$color3: #0275d8;
$color4: #01447e;
$color5: #09725d;
$color6: #e76926;
$color7: #333;
$color8: #008000;
$color9: #18a78a;
$color10: #1abc9c;
$color11: #ff0000;
$color12: #565656;
$color13: #888;
$color14: #f8f8f8;
$color15: #eee;
$color16: #ccc;
$color17: #9a9a9a;
$desktop-width: 1100px;