.shop-categories-item {
    max-width: 280px;
    float: left;
    margin: 20px 15px;

    &:hover .shop-categories-text {
        background-color: $turquoise;
    }

    &:hover p, &:hover h2 {
        color: $white;
    }
}

.shop-categories-box {
    display: block;
}

.shop-categories-image {
    display: block;
    background-color: $gainsboro;
}

.shop-categories-text {
    background-color: $white;
    text-align: center;
    padding: 12px 15px 8px;
    transition: all 0.3s;

    h2 {
        margin: 0;
        color: $black;
        text-transform: uppercase;
        font-size: 18px;
    }

    p {
        margin: 5px 0 0 0;
        color: $lightGray;
        font-size: 14px;
    }
}