.top-bar {
    display: flex;
    justify-content: end;
    background-color: $darkGray;
    line-height: 34px;
}

.top-bar-link {
    margin: 0 10px;
    color: $white;
    font-size: 14px;
}

.header {
    align-items: center;
    min-height: 120px;
    text-align: center;
    background: $turquoise;
    color: $white;
    padding: 15px 0;
}

.logo {
    max-width: 110px;
    margin: 0 auto;
}

.header-search-form {
    line-height: 36px;
    padding: 10px 0;

    input {
        border: none;
        height: 36px;
        vertical-align: middle;
        padding: 0 4px;
        width: 40%;
        border-radius: 4px 0 0 4px;
        @media all and (max-width: $desktop-width) {
            width: inherit;
        }
    }
}

.search-form-btn {
    border: none;
    width: 50px;
    height: 36px;
    vertical-align: middle;
    color: $white;
    font-size: 20px;
    background-color: #09725d;
    border-radius: 0 4px 4px 0;

    &:hover {
        cursor: pointer;
    }
}

.shopping-cart-wrapper {
    text-align: center;
}

.shopping-cart {
    color: $white;
    font-size: 26px;
    position: relative;

    &:hover {
        color: $white;
    }

    span {
        position: absolute;
        font-size: 14px;
        background-color: #e76926;
        top: 0;
        left: 34px;
        padding: 1px 2px;
        border-radius: 4px;
    }
}